name: CI

on:
  pull_request:
    branches: [ main, develop ]
  workflow_dispatch:

jobs:
  build:
    name: Test & Build
    runs-on: macOS-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run tests
        run: ./gradlew allTests --no-configuration-cache

      - name: Build library
        run: ./gradlew build -x ktlintCheck --no-configuration-cache
